@{
    ViewData["Title"] = "Adicionar Item";
}

<h1 style="font:100; color:rebeccapurple">Está é a parte de inserção de novos produtos</h1>

<form action="" method="post">
    <p>Insira os dados</p>
    <br />
    <label> Insira outro nome</label>
    <input type="text" name="nome"
    <br />
    <label> Insira o sabor</label>
    <input type="text" name="sabor"
    <label> Insira a descrição</label>
    <input type="text" name="descricao"
    <br />
    <label> Insira os ingredientes</label>
    <input type="text" name="Ingredientes"
    <br />
    <label> Insira a categoria</label>
    <input type="text" name="categoria"
    <br />
    <label> Insira o preço</label>
    <input type="text" name="preco"
    <br />
    <input type="submit" name="Cadastrar" />

</form>

