@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <p>Eu tenho medo do front-end</p>
    <h1 class="display-4">Informação</h1>
    <p> Ir para a pagina de <a href="~/Home/Informacao">Informação</a></p>
    <p> Ir para a pagina de <a href="~/Home/LoginPage">Login</a></p>
    <p> Ir para a pagina de <a href="~/Home/RegisterPage">Cadastro</a></p>


    <button action="~/Home/Informacao">Informação</button>

    <form action="~/Home/Informacao">
        <input type="submit" />
    </form>

</div>
